<h1>Listing tasks</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @task.each do |ts| %>
    <tr>
      <td><%= ts.title %></td>
      <td><%= ts.text %></td>
      <td><%= link_to 'Show', task_path(ts) %></td>
    </tr>
  <% end %>
</table>